.loading-bar-element {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  animation: spinner 1.5s infinite;
  margin: 80px auto;
}

@keyframes spinner {
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
